# SPDX-License-Identifier: GPL-2.0
#
# GENZ configuration
#

menuconfig GENZ_ORTHUS
	tristate "Gen-Z IntelliProp Orthus Bridge support"
	depends on GENZ
	help
	  This option enables the Gen-Z IntelliProp Orthus bridge driver.

	  Say Y here to enable support for this driver.

	  To compile this code as a module, choose M here: the module
	  will be called orthus.
